<!doctype html>
<html>
	<link href="scripts/listdetails.css" rel="stylesheet" type="text/css" media="screen" />
	<link href='http://fonts.googleapis.com/css?family=Junge' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
	<script src="scripts/listdetails.js"></script>
	<body onload="new ListDetailsHandler().initializeEvents()">
		<div class="disabled">
		<input id="addbirdphotoinput" type="file" name="Addphotos" multiple="true" value="" onchange="new ListDetailsHandler().handlephotoupload(this)"/>
		</div>
		<div class="container">
			<table id="phototable">
				<tr><td id="addbirdphoto">Upload photos</td></tr>
			</table>
		</div>
	</body>
</html>